* {
  font-family: 'Rubik', sans-serif;
}

body {
  color: white;
  background-color: #292424;

}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
}

a {

  color: white;
  text-decoration: none;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 5px solid green;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}

h1 {
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}


p {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: aqua;
  cursor: pointer;
}
